.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards, .news-output {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.decomposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-output {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 8px;
  width: 800px;
  font-size: 15px;
}

.new {
  display: flex;
}

.new img{
  margin-right: 10px;
}

.news-filter {
  display: flex;
  flex-direction: row;
} 

.filter-tag {
  padding: 0;
  border: none;
  font: inherit;
  color: #96addd;
  font-weight: 600;
  font-size: 19px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.filter-tag:focus {
  color: #1c59d3;
}

.filter-tag-active {
  color: #1c59d3;
}

.exchange-rate {
  display: flex;
  justify-content: space-between;
  width: 800px;
  /* margin-left: 60px; */
}

.exchange-rate-item {
  display: flex;
}

.advertising {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 100px;
  margin-top: 40px;
}

.advertising h3{
  font-size: 22px;
}

.advertising-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  right: 430px;
  top: 50px;
}

.temp {
  display: flex;
  flex-direction: row;
}

.tempDayNight {
  display: flex;
  flex-direction: column;
}

li span {
  color: rgb(163, 150, 150);
}

ul {
  list-style-type: none;
}

.wrapperForNewsBlocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 820px;
  height: 300px;
}

.visited {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: 20px;
}

.block a {
  font-weight: bold;
}

.custom-input {
  width: 600px;
  border-color: rgb(219, 216, 24);
}

.search-button {
  padding: 0;
  border: none;
  background-color: rgb(219, 216, 24);
  width: 80px;
  height: 30px;
}

.ether-button {
  position: relative;
  left: 130px;
  bottom: 30px;
}

.search-links {
  display: flex;
  justify-content: space-between;
}